page-home {
    text-align: center;
}

.menu {
    margin-top: 5%;
}

.home-button {
    height: 150px;
    width:  70%;
    border-radius: 20%;
    background-color: #6D7993 !important;
    // color: rgb(20, 11, 4);
}

