page-home {
    text-align: center;
}

.menu {
    margin-top: 20%;
}

.home-button {
    height: 160px;
    width:  70%;
    border-radius: 20%;
    background-color: rgb(20, 20, 20) !important;
    // color: rgb(20, 11, 4);
}

