page-camera {
    text-align: center;
}

.camera-menu {
    margin-top: 50%;
}

.camera-button {
    height: 160px;
    width:  70%;
    border-radius: 20%;
    background-color: #6D7993 !important;
    // color: rgb(20, 11, 4);
}