<ion-header>
    <ion-navbar>
        <ion-title>Bookkeepers</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let isbn of all_books; let i = index">
            {{i}}. {{isbn[0].title}} {{isbn[0].author}} {{isbn[0].genre}} {{isbn[0].publisher}}
            <ion-list>
                <ion-item *ngFor="let book of isbn">
                    {{book.price}} {{book.condition}} {{book.additional_info}}
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
</ion-content>